atomicwrites==1.4.1
attrs==22.1.0
cfgv==3.3.1
colorama==0.4.5
coverage==6.4
cycler==0.11.0
distlib==0.3.6
et-xmlfile==1.1.0
filelock==3.8.0
fonttools==4.37.1
identify==2.5.5
iniconfig==1.1.1
joblib==1.1.0
kiwisolver==1.4.4
lxml==4.9.1
matplotlib==3.5.1
missingpy==0.2.0
nodeenv==1.7.0
numpy==1.22.3
openpyxl==3.0.10
packaging==21.3
pandas==1.4.2
patsy==0.5.2
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.18.1
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-dependency==0.5.1
pytest-mock==3.7.0
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2022.2.1
PyYAML==6.0
scikit-learn==1.1.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
skrebate==0.62
statsmodels==0.13.2
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
virtualenv==20.16.5
XlsxWriter==3.0.3
typing_extensions==4.4.0
xgboost==1.7.2
